a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{font-family:Exo,sans-serif;line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}.App {
  width: 60em;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

.App__contentWrapper {
  padding: 1em 1em 4em 1em; }

.App__headerTitle {
  font-size: 2em;
  font-weight: 700;
  line-height: 2em; }

.App__settingsTitle {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center; }

.App__btnOpenSettings {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.App__btnCloseSettings {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 0; }

.App__settingsContent {
  background: #fff;
  border: 1px solid #3d3d3d;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 1em;
  position: fixed;
  top: initial;
  width: 100%;
  z-index: 9; }
  .App__settingsContent.opened {
    top: 50vh; }

.App__settingsOverlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

@media (min-width: 768px) {
  .App__settingsColumn {
    display: inline-block;
    min-width: 300px;
    padding: 1em;
    width: 50%; } }
.TextSettings__title {
  font-size: 1.5em;
  line-height: 2em; }

.TextSettings input[type=range],
.TextSettings input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin: 0; }

.TextSettings input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 1px;
  background: #dcdcdc;
  border: none;
  border-radius: 3px; }

.TextSettings input[type=range]::-webkit-slider-thumb {
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #2a2f33;
  margin-top: -8px; }

.TextSettings input[type=range]:focus {
  outline: none; }

.TextSettings input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dcdcdc; }

.TextSettings h2 {
  display: inline-block;
  margin-right: 10px; }

.TextSettings select {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem; }

.TextSettings textarea {
  resize: none;
  vertical-align: top; }

.TextSettings-formGroup {
  line-height: 2em; }

.TextSettings-formGroup label {
  display: block; }

.TextSettings-formGroupColumn {
  width: 100%; }

@media (min-width: 768px) {
  .TextSettings-formGroup label {
    display: inline-block; }
  .TextSettings-formGroupColumn {
    width: 50%; } }
.CSSExport {
  display: inline-block; }

.CSSExport__ctaWaiting {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 3px;
  position: relative; }

.CSSExport__innerText {
  margin-left: 5px; }

.CSSExport__ctaActive {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  left: 100%;
  margin-left: 5px;
  padding: 4px; }
.PrebuiltSetting {
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 8px;
  text-align: center; }
.PrebuiltSettings__title {
  font-size: 1.5em;
  line-height: 2em; }

.PrebuiltSettings__setting {
  display: inline-block;
  margin-right: 10px; }

/*# sourceMappingURL=main.6045d9ab.css.map*/